<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picturebooks.mobilepicturebooks"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:name="ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.picturebooks.mobilepicturebooks.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.picturebooks.mobilepicturebooks.MenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.picturebooks.mobilepicturebooks.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>>
        <activity
            android:name="com.picturebooks.mobilepicturebooks.InfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.picturebooks.mobilepicturebooks.StoriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.picturebooks.mobilepicturebooks.LibraryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>

        <activity
            android:name="com.picturebooks.mobilepicturebooks.BookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
             
        <activity
            android:name="com.picturebooks.mobilepicturebooks.RegistrationNameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        
        <activity
            android:name="com.picturebooks.mobilepicturebooks.RegistrationAgeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        
        <activity
            android:name="com.picturebooks.mobilepicturebooks.RegistrationLevelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
                
        <activity
            android:name="com.picturebooks.mobilepicturebooks.PictureEditor"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>