html, body { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0;
	max-width: 1024px;
	max-height: 600px;
}

h1 {
	font-size: 300%;
}

#background {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}

#container {
	position: relative;
	width: 1024px;
	height: 600px;
	left: 50%;
	top: 50%;
	margin: -300px 0 0 -512px;
}

#changeBg {
	display: none;
}

#bgOverlay {
	position: absolute;
	z-index: 10000;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 600px;
}

#selectBg {
	position: absolute;
	z-index: 10002;
	top: 101px;
	left: 208px;
	width: 612px;
	height: 344px;
}

#leftArrow {
	position: absolute;
	z-index: 10001;
	top: 100px;
	left: 148px;
	width: 38px;
	height: 346px;
}

#rightArrow {
	position: absolute;
	z-index: 10001;
	top: 99px;
	left: 840px;
	width: 38px;
	height: 346px;
}

#pictureFrame {
	z-index: 0;
	position: absolute;
    top: 30px;
	left: 40px;
}

#chooseBackground {
	position: absolute;
    top: 20px;
	left: 870px;
}

#trash {
	position: absolute;
    top: 530px;
	left: 920px;
}

#sideBar {
	z-index: 100;
	position: absolute;
    top: 0px;
	left: -384px;
}
#sideBarBody {
	position: absolute;
    top: 0px;
	left: 0px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#sideBarHead {
	position: absolute;
    top: 250px;
	left: 337px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#createStory {
	position: absolute;
    top: 230px;
	left: 100px;
}
#library {
	position: absolute;
    top: 385px;
	left: 50px;
}
#home {
	position: absolute;
    top: 400px;
	left: 210px;
}
#restart {
	position: absolute;
    top: 70px;
	left: 120px;
}

.sideBarMoveRight {
	-webkit-animation-name: sideBarMoveRightAnimate;
	-webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

@-webkit-keyframes sideBarMoveRightAnimate {
	from { 
		left: 0px;
	}
	to {
		left: 500px;
	}
}
#adultsTab {
	position: absolute;
    top: 550px;
	left: 0;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

#adultsTabHead {
	position: absolute;
    top: 0px;
	left: 190px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#adultsTabLeft {
	z-index: 15;
	position: absolute;
    top: 85px;
	left: 10px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}#adultsTabRight {
	z-index: 15;
	position: absolute;
    top: 85px;
	left: 973px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#adultsTabBody {
	z-index: 10;
	position: absolute;
    top: 50px;
	left: 0px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}#adultsTabBodyLeft {
	z-index: 15;
	position: absolute;
    top: 50px;
	left: 0px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#adultsTabBodyRight {
	z-index: 15;
	position: absolute;
    top: 50px;
	left: 950px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#adultCharacters {
	z-index: 11;
	position: absolute;
	top: 75px;
	left: 70px;transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

#catManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 20px;
}
#catWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 170px;
}
#chickenManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 320px;
}
#chickenWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 470px;
}#dogManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 620px;
}#dogWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 770px;
}#elephantManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 920px;
}#elephantWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1070px;
}#giraffeManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1220px;
}#giraffeWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1370px;
}#lionManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1520px;
}#lionWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1670px;
}#pigManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1820px;
}#pigWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1970px;
}#rabbitManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2120px;
}#rabbitWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2270px;
}#sheepManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2420px;
}#sheepWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2570px;
}#turtleManImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2720px;
}#turtleWomanImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2870px;
}
#kidsTab {
	position: absolute;
    top: 550px;
	left: 0;
}
#kidsTabHead {
	position: absolute;
    top: 0px;
	left: 410px;
}

#kidsTabBody {
	z-index: 10;
	position: absolute;
    top: 50px;
	left: 0px;
}#kidsTabBodyClear {
	z-index: 15;
	position: absolute;
    top: 50px;
	left: 0px;
}
#kidsTabLeft {
	z-index: 15;
	position: absolute;
    top: 85px;
	left: 10px;
}#kidsTabRight {
	z-index: 15;
	position: absolute;
    top: 85px;
	left: 973px;
}
#kidCharacters {
	z-index: 14;
	position: absolute;
	top: 75px;
	left: 70px;
}
#catBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 20px;
}
#catGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 170px;
}
#chickenBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 320px;
}
#chickenGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 470px;
}
#dogBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 620px;
}
#dogGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 770px;
}
#elephantBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 920px;
}
#elephantGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1070px;
}
#giraffeBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1220px;
}
#giraffeGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1370px;
}
#lionBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1520px;
}
#lionGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1670px;
}
#pigBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1820px;
}
#pigGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1970px;
}
#rabbitBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2120px;
}
#rabbitGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2270px;
}
#sheepBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2420px;
}
#sheepGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2570px;
}
#turtleBoyImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2720px;
}
#turtleGirlImage {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2870px;
}
#thingsTab {
	position: absolute;
    top: 550px;
	left: 0;
}
#thingsTabHead {
	position: absolute;
    top: 0;
	left: 630px;
}#thingsTabBody {
	z-index: 10;
	position: absolute;
    top: 50px;
	left: 0px;
}#thingsTabBodyClear {
	z-index: 15;
	position: absolute;
    top: 50px;
	left: 0px;
}
#thingsTabLeft {
	z-index: 15;
	position: absolute;
    top: 85px;
	left: 10px;
}#thingsTabRight {
	z-index: 15;
	position: absolute;
    top: 85px;
	left: 973px;
}
#things {
	z-index: 14;
	position: absolute;
	top: 75px;
	left: 50px;
}

#t1 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 20px;
}
#t2 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 170px;
}
#t3 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 320px;
}
#t4 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 470px;
}
#t5 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 620px;
}
#t6 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 770px;
}
#t7 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 920px;
}
#t8 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1070px;
}
#t9 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1220px;
}
#t10 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1370px;
}
#t11 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1520px;
}
#t12 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1670px;
}
#t13 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1820px;
}
#t14 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 1970px;
}
#t15 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2120px;
}
#t16 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2270px;
}
#t17 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2420px;
}
#t18 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2570px;
}
#t19 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2720px;
}
#t20 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 2870px;
}
#t21 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3020px;
}
#t22 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3170px;
}
#t23 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3320px;
}
#t24 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3470px;
}
#t25 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3620px;
}
#t26 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3770px;
}
#t27 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 3920px;
}
#t28 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4070px;
}
#t29 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4220px;
}
#t30 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4370px;
}
#t31 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4520px;
}
#t32 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4670px;
}
#t33 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4820px;
}
#t34 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 4970px;
}
#t35 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 5120px;
}
#t36 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 5270px;
}
#t37 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 5420px;
}
#t38 {
	z-index: 11;
	position: absolute;
	height: 120px;
	left: 5570px;
}
