html { height: 100% }

body { 
	position: fixed;
	top: 0;
	left: 0;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

h1 {
	font-family: 'kool_beansregular';
	font-size: 250%;
}

#background {
	z-index: 0;
}

#target, #leftArrow, #rightArrow, #direction, #slipper, #pause, #resume, #mute, #muted, #quit {
	position: absolute;
}

#target {
	top: 25px;
	left: 169px;
	z-index: 5555;
}

#leftArrow {
	display: none;
	top: 535px;
	left: 307px;
	z-index: 5555;
}

#rightArrow {
	display: none;
	top: 535px;
	left: 307px;
	z-index: 5555;
}

#windArea {
	position: absolute;
	top: 480px;
	left: 282px;
	z-index: 5555;
}

#scoreArea {
	position: absolute;
	top: 1150px;
	left: 25px;
	z-index: 5555;
}

#direction {
	display: none;
	top: 860px;
	left: 352px;
	z-index: 5555;
	
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-60deg);
  }
  50% { 
    -webkit-transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(-60deg);
  }
}

#slipper {
	top: 1025px;
	left: 338px;
	z-index: 7777;
}

.throw {
	-webkit-animation-name: throwSlipper;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes throwSlipper {
	from {
		//top: 1025px;
	}
	to {
		//top: 160px;
		-webkit-transform: rotate(360deg);
	}
	
}

#pause {
	top: 13px;
	left: 585px;
	z-index: 8888;
}

#resume {
	display: none;
	top: 680px;
	left: 297px;
	z-index: 9999;
}

#quit {
	display: none;
	top: 1195px;
	left: 568px;
	z-index: 9999;
}

#mute {
	display: none;
	top: 885px;
	left: 326px;
	z-index: 999999;
}

#muted {
	display: none;
	top: 885px;
	left: 326px;
	z-index: 999999;
}

#dark {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	z-index: 9998;
}