html { width: 100%; height: 100% }

body { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

h1 {
	font-family: 'kool_beansregular';
	font-size: 300%;
}

h2 {
	font-family: 'kool_beansregular';
	font-size: 900%;
}

#background {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}

#container {
	position: relative;
	width: 1024px;
	height: 600px;
	left: 50%;
	top: 50%;
	margin: -300px 0 0 -512px;
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#target, #slipper1, #slipper2, #scoreArea1, #scoreArea2, #countdown1, #countdown2, #timerArea1, #timerArea2, #pause1, #pause2, #dark, #resume, #restart, #mute, #muted, #quit, #p1Hitbox, #p2Hitbox {
	position: absolute;
}

#scoreArea1 {
	top: 150px;
	left: 595px;
	-webkit-transform: rotate(180deg);
	z-index: 5555;
}

#scoreArea2 {
	top: 1020px;
	left: 65px;
	z-index: 5555;
}


#countdown1 {
	display: none;
	top: 198px;
	left: 292px;
	-webkit-transform: rotate(180deg);
	z-index: 999999;
}

#countdown2 {
	display: none;
	top: 834px;
	left: 292px;
	z-index: 999999;
}

#timerArea1 {
	display: none;
	top: 30px;
	left: 20px;
	-webkit-transform: rotate(180deg);
	z-index: 5555;
}

#timerArea2 {
	display: none;
	top: 850px;
	left: 530px;
	z-index: 5555;
}

#target {
	top: 490px;
	left: 234px;
	z-index: 5555;
}

#pause1 {
	top: 603px;
	left: 20px;
	-webkit-transform: rotate(180deg);
	z-index: 8888;
}

#pause2 {
	top: 640px;
	left: 591px;
	z-index: 8888;
}

#resume {
	display: none;
	z-index: 999999;
}

#restart {
	display: none;
	z-index: 999999;
}

#quit {
	display: none;
	z-index: 999999;
}

#quit2 {
	position: absolute;
	display: none;
	z-index: 999999;
}

#mute {
	display: none;
	z-index: 999999;
}

#muted {
	display: none;
	z-index: 999999;
}

#dark {
	display: none;
	top: 0px;
	left: 0px;
	z-index: 999998;
}

#p1Hitbox {
	display: none;
	top: 0px;
	left: 0px;
	z-index: 99999;
}

#slipper1 {
	top: 15px;
	left: 355px;
	-webkit-transform: rotate(180deg);
	z-index: 7777;
}

.slipper1Sway {
	-webkit-animation-name: s1Sway;
	-webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes s1Sway {
	0% {
		left: 355px;
	}
	25% {
		left: 20px;
	}
	50% {
		left: 355px;
	}
	75% {
		left: 690px;
	}
	100% {
		left: 355px;
	}
}

.slipper1Throw {
	-webkit-animation-name: s1Throw;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes s1Throw {
	from { 
		top: 15px;
	}
	to {
		top: 575px;
		-webkit-transform: rotate(540deg);
	}
}

#p2Hitbox {
	display: none;
	top: 680px;
	left: 0px;
	z-index: 99999;
}

#slipper2 {
	top: 1133px;
	left: 355px;
	z-index: 7777;
}

.slipper2Sway {
	-webkit-animation-name: s2Sway;
	-webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes s2Sway {
	0% {
		left: 355px;
	}
	25% {
		left: 690px;
	}
	50% {
		left: 355px;
	}
	75% {
		left: 20px;
	}
	100% {
		left: 355px;
	}
}

.slipper2Throw {
	-webkit-animation-name: s2Throw;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes s2Throw {
	from { 
		top: 1133px;
	}
	to {
		top: 575px;
		-webkit-transform: rotate(360deg);
	}
}

.rotate {
	-webkit-animation-name: rotateAnim;
	-webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateAnim {
	from { 
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}