html { height: 100% }

body { 
	position: fixed;
	top: 0;
	left: 0;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

h1 {
	font-family: 'kool_beansregular';
	font-size: 1200%;
	color:rgb(51,204,255);
}
h2 {
	font-family: 'kool_beansregular';
	font-size: 700%;
	color:rgb(51,204,255);
}
h3 {
	font-family: 'kool_beansregular';
	font-size: 1000%;
	color:rgb(51,204,255);
}

#background {
	z-index: 0;
}
@-webkit-keyframes blackoutScreen {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


#title, #target, #playButton, #aboutButton, #groupName, #school, #creators, #singleplayer, #multiplayer, #back, #gameMode, #scoreLimit, #timeLimit, #selectBg, #selectSlipper1, #selectSlipper2, #nextButton, #start, #upArrow, #textArea, #downArrow, #bgLeftArrow, #bgArea, #bgRightArrow, #slipper1LeftArrow, #slipper1Area, #slipper1RightArrow, #slipper2LeftArrow, #slipper2Area, #slipper2RightArrow {
	position: absolute;
}

#title {
	top: 108px;
	left: -500px;
	width: 200px;
	height: 200px;
	z-index: 9999;
}
#title {
	-webkit-animation-name: titleEnter;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes titleEnter {
	0% {
		left: -500px;
	}
	100% {
		left: 134px;
		-webkit-transform: rotate(1080deg);
	}
}
@-webkit-keyframes titleExit {
	0% {
		left: 134px;
	}
	100% {
		left: -500px;
	}
}
@-webkit-keyframes titleSway {
	0% {
		left: 134px;
	}
	50% {
		left: 13px;
	}
	100% {
		left: 134px;
	}
}


#target {
	top: -168px;
	left: 205px;
	z-index: 5555;
}
#target {
	-webkit-animation-name: targetEnter;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes targetEnter {
	0% {
		left: 1280px;
	}
	80% {
		left: 105px;
	}
	100% {
		left: 205px;
	}
}
@-webkit-keyframes targetExit{
	0% {
		left: 205px;
	}
	100% {
		left: 1280px;
	}
}
@-webkit-keyframes targetDown{
	from {
		top: -168px;
		left: 205px;
	}
	to {
		top: 720px;
		left: -235px;
	}
}
@-webkit-keyframes targetUp{
	from {
		top: 720px;
		left: -235px;
	}
	to {
		top: -168px;
		left: 205px;
	}
}
@-webkit-keyframes targetSway {
	0%   { -webkit-transform: rotate(0deg) translate(0px) rotate(0deg);}
  25% { -webkit-transform: rotate(-360deg) translate(50px) rotate(-360deg);}
50%   { -webkit-transform: rotate(-720deg) translate(-50px) rotate(-720deg);}
  100% { -webkit-transform: rotate(-1080deg) translate(0px) rotate(-1080deg);}
}


#playButton {
	top: 683px;
	left: -500px;
	z-index: 9999;
	width: 255px;
	height: 110px;
}
#playButton {
    -webkit-animation-name: playEnter;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes playEnter {
	from {
		left: -500px;
	}
	to {
		left: 272px;
	}
}
@-webkit-keyframes playExit {
	from {
		left: 272px;
	}
	to {
		left: -500px;
	}
}


#aboutButton {
	top: 803px;
	left: -500px;
	z-index: 9999;
}
#aboutButton  {
    -webkit-animation-name: aboutEnter;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 2.6s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes aboutEnter {
	from {
		left: -500px;
	}
	to {
		left: 238px;
	}
}
@-webkit-keyframes aboutExit {
	from {
		left: 238px;
	}
	to {
		left: -500px;
	}
}


#groupName {
	top: 986px;
	left: 346px;
	z-index: 9999;
}
#groupName {
	-webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes groupEnter {
	from {
		top: 2000px;
	}
	to {
		top: 986px;
	}
}
@-webkit-keyframes groupExit {
	from {
		top: 986px;
	}
	to {
		top: 2000px;
	}
}


#school {
	top: 986px;
	left: 550px;
	z-index: 9999;
}
#school {
	-webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes schoolEnter {
	from {
		top: 2000px;
	}
	to {
		top: 986px;
	}
}
@-webkit-keyframes schoolExit {
	from {
		top: 986px;
	}
	to {
		top: 2000px;
	}
}


#creators {
	top: 665px;
	left: -550px;
	z-index: 9999;
}
#creators {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes creatorsEnter {
	from {
		left: -550px;
	}
	to {
		left: 130px;
	}
}
@-webkit-keyframes creatorsExit {
	from {
		left: 130px;
	}
	to {
		left: -550px;
	}
}


#singleplayer {
	top: 683px;
	left: -750px;
	z-index: 9999;
}
#singleplayer {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes singleplayerEnter {
	from {
		left: -750px;
	}
	to {
		left: 102px;
	}
}
@-webkit-keyframes singleplayerExit {
	from {
		left: 102px;
	}
	to {
		left: -750px;
	}
}
@-webkit-keyframes singleplayerUp {
	from {
		top: 683px;
		left: 102px;
	}
	to {
		top: 150px;
		left: 102px;
	}
}
@-webkit-keyframes singleplayerDown {
	from {
		top: 150px;
		left: 102px;
	}
	to {
		top: 683px;
		left: 102px;
	}
}
@-webkit-keyframes singleplayerExit2 {
	from {
		top: 150px;
		left: 102px;
	}
	to {
		top: -500px;
		left: 102px;
	}
}


#multiplayer {
	top: 803px;
	left: -750px;
	z-index: 9999;
}
#multiplayer {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes multiplayerEnter {
	from {
		left: -750px;
	}
	to {
		left: 110px;
	}
}
@-webkit-keyframes multiplayerExit {
	from {
		left: 110px;
	}
	to {
		left: -750px;
	}
}
@-webkit-keyframes multiplayerEnter2 {
	from {
		top: -500px;
		left: 110px;
	}
	to {
		top: 150px;
		left: 110px;
	}
}
@-webkit-keyframes multiplayerExit2 {
	from {
		top: 150px;
		left: 110px;
	}
	to {
		top: -500px;
		left: 110px;
	}
}
@-webkit-keyframes multiplayerUp {
	from {
		top: 803px;
		left: 110px;
	}
	to {
		top: 150px;
		left: 110px;
	}
}
@-webkit-keyframes multiplayerDown {
	from {
		top: 150px;
		left: 110px;
	}
	to {
		top: 803px;
		left: 110px;
	}
}


#back {
	top: 1400px;
	left: 13px;
	z-index: 9999;
}
#back {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes backEnter {
	from {
		top: 1400px;
	}
	to {
		top: 1215px;
	}
}
@-webkit-keyframes backExit {
	from {
		top: 1215px;
	}
	to {
		top: 1400px;
	}
}


#gameMode {
	top: 510px;
	left: -750px;
	z-index: 9999;
}
#gameMode {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes gameModeEnter {
	from {
		left: -750px;
	}
	to {
		left: 90px;
	}
}
@-webkit-keyframes gameModeExit {
	from {
		left: 90px;
	}
	to {
		left: -750px;
	}
}


#scoreLimit {
	top: 650px;
	left: -750px;
	z-index: 9999;
}
#scoreLimit {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes scoreLimitEnter {
	from {
		left: -750px;
	}
	to {
		left: 201px;
	}
}
@-webkit-keyframes scoreLimitUp {
	from {
		top: 900px;
		left: 201px;
	}
	to {
		top: 650px;
		left: 201px;
	}
}
@-webkit-keyframes scoreLimitDown {
	from {
		top: 650px;
		left: 201px;
	}
	to {
		top: 900px;
		left: 201px;
	}
}
@-webkit-keyframes scoreLimitExit {
	from {
		left: 201px;
	}
	to {
		left: -750px;
	}
}
@-webkit-keyframes scoreLimitEnter2 {
	from {
		top: 900px;
		left: -500px;
	}
	to {
		top: 900px;
		left: 201px;
	}
}
@-webkit-keyframes scoreLimitExit2 {
	from {
		top: 900px;
		left: 201px;
	}
	to {
		top: 900px;
		left: -500px;
	}
}


#timeLimit {
	top: 800px;
	left: -750px;
	z-index: 9999;
}
#timeLimit {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes timeLimitEnter {
	from {
		left: -750px;
	}
	to {
		left: 201px;
	}
}
@-webkit-keyframes timeLimitUp {
	from {
		top: 900px;
		left: 201px;
	}
	to {
		top: 800px;
		left: 201px;
	}
}
@-webkit-keyframes timeLimitDown {
	from {
		top: 800px;
		left: 201px;
	}
	to {
		top: 900px;
		left: 201px;
	}
}
@-webkit-keyframes timeLimitExit {
	from {
		left: 201px;
	}
	to {
		left: -750px;
	}
}
@-webkit-keyframes timeLimitEnter2 {
	from {
		top: 900px;
		left: -500px;
	}
	to {
		top: 900px;
		left: 201px;
	}
}
@-webkit-keyframes timeLimitExit2 {
	from {
		top: 900px;
		left: 201px;
	}
	to {
		top: 900px;
		left: -500px;
	}
}


#nextButton {
	top: 1400px;
	left: 430px;
	z-index: 9999;
}
#nextButton {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes nextEnter {
	from {
		top: 1400px;
		left: 430px;
	}
	to {
		top: 980px;
		left: 430px;
	}
}
@-webkit-keyframes nextExit {
	from {
		top: 980px;
		left: 430px;
	}
	to {
		top: 1400px;
		left: 430px;
	}
}


#start {
	top: 1400px;
	left: 375px;
	z-index: 9999;
}
#start {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes startEnter {
	from {
		top: 1400px;
		left: 375px;
	}
	to {
		top: 1150px;
		left: 375px;
	}
}
@-webkit-keyframes startExit {
	from {
		top: 1150px;
		left: 375px;
	}
	to {
		top: 1400px;
		left: 375px;
	}
}


#upArrow {
	top: 1400px;
	left: 288px;
	z-index: 9999;
}
#upArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes upArrowEnter {
	from {
		top: -500px;
		left: 288px;
	}
	to {
		top: 202px;
		left: 288px;
	}
}
@-webkit-keyframes upArrowExit {
	from {
		top: 202px;
		left: 288px;
	}
	to {
		top: -500px;
		left: 288px;
	}
}
@-webkit-keyframes upArrowExit2 {
	from {
		top: 202px;
		left: 288px;
	}
	to {
		top: 202px;
		left: -500px;
	}
}
@-webkit-keyframes upArrowEnter2 {
	from {
		top: 202px;
		left: -500px;
	}
	to {
		top: 202px;
		left: 288px;
	}
}


#textArea {
	top: -500px;
	left: 170px;
	z-index: 9998;
}
#textArea {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes textAreaEnter {
	from {
		top: -500px;
		left: 170px;
	}
	to {
		top: 170px;
		left: 170px;
	}
}
@-webkit-keyframes textAreaExit {
	from {
		top: 170px;
		left: 170px;
	}
	to {
		top: -500px;
		left: 170px;
	}
}
@-webkit-keyframes textAreaExit2 {
	from {
		top: 170px;
		left: 170px;
	}
	to {
		top: 170px;
		left: -500px;
	}
}
@-webkit-keyframes textAreaEnter2 {
	from {
		top: 170px;
		left: -500px;
	}
	to {
		top: 170px;
		left: 170px;
	}
}


#downArrow {
	top: -500px;
	left: 288px;
	z-index: 9999;
	-webkit-transform: rotate(180deg);
}
#downArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes downArrowEnter {
	from {
		top: -500px;
		left: 288px;
	}
	to {
		top: 507px;
		left: 288px;
	}
}
@-webkit-keyframes downArrowExit {
	from {
		top: 507px;
		left: 288px;
	}
	to {
		top: -500px;
		left: 288px;
	}
}
@-webkit-keyframes downArrowExit2 {
	from {
		top: 507px;
		left: 288px;
	}
	to {
		top: 507px;
		left: -500px;
	}
}
@-webkit-keyframes downArrowEnter2 {
	from {
		top: 507px;
		left: -500px;
	}
	to {
		top: 507px;
		left: 288px;
	}
}


#selectBg {
	top: 200px;
	left: -600px;
	z-index: 9999;
}
#selectBg {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes selectBgEnter {
	from {
		top: 200px;
		left: -600px;
	}
	to {
		top: 200px;
		left: 50px;
	}
}
@-webkit-keyframes selectBgExit {
	from {
		top: 200px;
		left: 50px;
	}
	to {
		top: 200px;
		left: -600px;
	}
}
#bgLeftArrow {
	top: 514px;
	left: -600px;
	-webkit-transform: rotate(-90deg);
	z-index: 9999;
}
#bgLeftArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes bgLeftArrowEnter {
	from {
		top: 514px;
		left: -600px;
	}
	to {
		top: 514px;
		left: 76px;
	}
}
@-webkit-keyframes bgLeftArrowExit {
	from {
		top: 514px;
		left: 76px;
	}
	to {
		top: 514px;
		left: -600px;
	}
}
#bgArea {
	top: 420px;
	left: -600px;
	z-index: 9999;
}
#bgArea {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes bgAreaEnter {
	from {
		top: 420px;
		left: -600px;
	}
	to {
		top: 420px;
		left: 246px;
	}
}
@-webkit-keyframes bgAreaExit {
	from {
		top: 420px;
		left: 246px;
	}
	to {
		top: 420px;
		left: -600px;
	}
}
#bgRightArrow {
	top: 514px;
	left: -600px;
	-webkit-transform: rotate(90deg);
	z-index: 9999;
}
#bgRightArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes bgRightArrowEnter {
	from {
		top: 514px;
		left: -600px;
	}
	to {
		top: 514px;
		left: 514px;
	}
}
@-webkit-keyframes bgRightArrowExit {
	from {
		top: 514px;
		left: 514px;
	}
	to {
		top: 514px;
		left: -600px;
	}
}


#selectSlipper1 {
	top: -100px;
	left: -600px;
	z-index: 9999;
}
#selectSlipper1 {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes selectSlipper1Enter {
	from {
		top: -100px;
		left: -600px;
	}
	to {
		top: -100px;
		left: 50px;
	}
}
@-webkit-keyframes selectSlipper1Exit {
	from {
		top: -100px;
		left: 50px;
	}
	to {
		top: -100px;
		left: -600px;
	}
}


#slipper1LeftArrow {
	top: 184px;
	left: -600px;
	-webkit-transform: rotate(-90deg);
	z-index: 9999;
}
#slipper1LeftArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slipper1LeftArrowEnter {
	from {
		top: 184px;
		left: -600px;
	}
	to {
		top: 184px;
		left: 200px;
	}
}
@-webkit-keyframes slipper1LeftArrowExit {
	from {
		top: 184px;
		left: 200px;
	}
	to {
		top: 184px;
		left: -600px;
	}
}


#slipper1Area {
	top: 110px;
	left: -600px;
	z-index: 9999;
}
#slipper1Area {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slipper1AreaEnter {
	from {
		top: 110px;
		left: -600px;
	}
	to {
		top: 110px;
		left: 340px;
	}
}
@-webkit-keyframes slipper1AreaExit {
	from {
		top: 110px;
		left: 340px;
	}
	to {
		top: 110px;
		left: -600px;
	}
}


#slipper1RightArrow {
	top: 184px;
	left: -600px;
	-webkit-transform: rotate(90deg);
	z-index: 9999;
}
#slipper1RightArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slipper1RightArrowEnter {
	from {
		top: 184px;
		left: -600px;
	}
	to {
		top: 184px;
		left: 433px;
	}
}
@-webkit-keyframes slipper1RightArrowExit {
	from {
		top: 184px;
		left: 433px;
	}
	to {
		top: 184px;
		left: -600px;
	}
}


#selectSlipper2 {
	top: 650px;
	left: -600px;
	z-index: 9999;
}
#selectSlipper2 {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes selectSlipper2Enter {
	from {
		top: 650px;
		left: -600px;
	}
	to {
		top: 650px;
		left: 50px;
	}
}
@-webkit-keyframes selectSlipper2Exit {
	from {
		top: 650px;
		left: 50px;
	}
	to {
		top: 650px;
		left: -600px;
	}
}


#slipper2LeftArrow {
	top: 934px;
	left: -600px;
	-webkit-transform: rotate(-90deg);
	z-index: 9999;
}
#slipper2LeftArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slipper2LeftArrowEnter {
	from {
		top: 934px;
		left: -600px;
	}
	to {
		top: 934px;
		left: 140px;
	}
}
@-webkit-keyframes slipper2LeftArrowExit {
	from {
		top: 934px;
		left: 140px;
	}
	to {
		top: 934px;
		left: -600px;
	}
}


#slipper2Area {
	top: 850px;
	left: -600px;
	z-index: 9999;
}
#slipper2Area {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slipper2AreaEnter {
	from {
		top: 850px;
		left: -600px;
	}
	to {
		top: 850px;
		left: 326px;
	}
}
@-webkit-keyframes slipper2AreaExit {
	from {
		top: 850px;
		left: 326px;
	}
	to {
		top: 850px;
		left: -600px;
	}
}


#slipper2RightArrow {
	top: 934px;
	left: -600px;
	-webkit-transform: rotate(90deg);
	z-index: 9999;
}
#slipper2RightArrow {
	-webkit-animation-name: ;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slipper2RightArrowEnter {
	from {
		top: 934px;
		left: -600px;
	}
	to {
		top: 934px;
		left: 450px;
	}
}
@-webkit-keyframes slipper2RightArrowExit {
	from {
		top: 934px;
		left: 450px;
	}
	to {
		top: 934px;
		left: -600px;
	}
}