html, body { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

* {
-webkit-touch-callout: none;
-webkit-user-select: none;
}

h1 {
	font-size: 300%;
}

h3 {
	font-family: Calibri;
	font-size: 150%;
}

#background {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}

#bgImg {
	width: 100%;
	height: 100%;
}

#bookImg {
	width: 100%;
	height: 100%;
}

#blackScreen {
	display: none;
	position: absolute;
	z-index: 9998;
	background-color: rgb(0,0,0);
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

#container {
	width: 100%;
	height: 100%;
}

#skip {
	display: none;
	position: absolute;
	z-index: 10000000;
	width: 5%;
	height: 5%;
	top: 93%;
	left: 94%;
}

#tutorialBox {
	display: none;
	position: absolute;
	z-index: 99999;
	background-color: rgb(246,213,176);
	border: 2px solid rgb(228,108,10);
	top: 38.3333%;
	left: 37.3046875%;
	width: 27.34375%;
	height: 23.3333%;
}

#back {
	position: absolute;
    top: 3.33333%;
	left: 2.34375%;
	width: 22.65625%;
	height: 14.66666%;
}

#add {
	position: absolute;
    top: 80%;
	left: 2.34375%;
	width: 22.65625%;
	height: 14.66666%;
}

#stories {
	background: white;
	position: absolute;
	top: 18%;
	left: 2.5390625%;
	width: 21.9%;
    height: 61%;
    overflow-y: scroll;
	z-index: 5;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#storyContainer {
	border: 1px solid black;
}
div.story {
	border: 1px solid black;
	width: 89.75%;
	height: 13.6611475%;
    display: inline-block;
	white-space: normal;
	padding-top: 7%;
	padding-bottom: 7%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
}
div.title {

}

#library {
	position: absolute;
	z-index: 5555;
    top: 3.3333%;
	left: 60.546875%;
	width: 28.515625%;
	height: 14.66666%;
}

#home {
	position: absolute;
	z-index: 5555;
    top: 3.33333%;
	left: 32.03125%;
	width: 28.515625%;
	height: 14.66666%;
}

#photo {
	position: absolute;
	z-index: 5555;
    top: 18%;
	left: 32.2265625%;
	width: 56.52%;
	height: 61.333333%;
}

#titleArea {
	position: absolute;
	z-index: 5555;
    top: 80%;
	left: 32.03125%;
	width: 57.03125%;
	height: 14.666666%;
}

#titleText {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 33px;
	text-align: center;
	padding-top: 2%;
}

#hand {
	position: absolute;
	z-index: 99999;
	top: 18.333333%;
	left: 25.390625%;
	width: 19.765625%;
	height: 20.266666%;
	-webkit-transform: scaleX(-1) rotate(30deg);
	display: none;
}

#tappy {
	position: absolute;
	z-index: 99999;
	top: 41.66666%;
	left: 14.6484375%;
	width: 10.625%;
	height: 30.266666%;
	display: none;
}

#read {
	position: absolute;
	z-index: 7777;
    top: 4%;
	left: 92.87109375%;
	width: 5.859375%;
	height: 48.333333%;
}