html, body { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

b {
	font-family: Calibri;
	text-align: center;
}

h1 {
	font-size: 300%;
}

h3 {
	font-family: Calibri;
	font-size: 150%;
}

#clickBuster {
	display: none;
	position: absolute;
	z-index: 9999999999999;
	width: 100%;
	height: 100%;
}

#background {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}

#bgImg {
	width: 100%;
	height: 100%;
}

#bookImg {
	width: 100%;
	height: 100%;
}

#blackScreen {
	display: none;
	position: absolute;
	z-index: 9998;
	background-color: rgb(0,0,0);
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

#container {
	width: 100%;
	height: 100%;
}

#skip {
	display: none;
	position: absolute;
	z-index: 10000000;
	width: 30.859375%;
	height: 11.71875%;
	top: 88.28125%;
	left: 69.140625%;
}

#tutorialBox {
	display: none;
	position: absolute;
	z-index: 9999;
	background-color: #fff000;
	border: 2px solid black;
	top: 38.33333%;
	left: 36.328125%;
	width: 27.34375%;
	height: 23.3333%;
}

#tutorialText {
	position: relative;
	top: 5%;
	text-align: center;
	font-size: 12px;
}

#name, #age, #grade {
	font-family: Calibri;
	position: relative;
	text-align: center;
}

.tutorialAnim1 {
	-webkit-animation-name: anim1;
	-webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes anim1 {
	from {
		left: 40px;
	}
	to {
		left: 580px;
	}
}

#textArea {
	position: absolute;
	top: 1.66666%;
	left: 19.53125%;
}

#library {
	position: absolute;
	z-index: 5555;
    top: 3.33333%;
	left: 60.546875%;
	width: 28.515625%;
	height: 14.66666%;
}

#home {
	position: absolute;
	z-index: 5555;
    top: 3.33333%;
	left: 32.03125%;
	width: 28.515625%;
	height: 14.66666%;
}

#hand {
	position: absolute;
	z-index: 99999;
	top: 54.166666%;
	left: 10%; /*23.4375%;*/
	width: 19.765625%;
	height: 20.266666%;
	display: none;
}

#tappy {
	position: absolute;
	z-index: 99999;
	top: 41.66666666%;
	left: 14.6484375%;
	width: 10.625%;
	height: 30.266666%;
	display: none;
}

#userInfo {
	position: absolute;
	z-index: 5554;
	top: 20%;
	left: 28.90625%;
	width: 62.5%;
	height: 75%;
	background-color: rgba(255,255,255,0);
}

#photo {
	position: absolute;
	z-index: 5555;
    top: 25%;
	left: 51.07421875%;
	width: 18.5546875%;
	height: 31.6666666%;
}

#photoOptions {
	position: absolute;
	z-index: 10001;
    top: 25%;
	left: 69.82421875%;
	width: 16.2109375%;
	height: 17.333333%;
	display: none;
}

#nameArea {
	position: absolute;
	z-index: 5555;
    top: 56.6666666%;
	left: 28.90625%;
	width: 62.5%;
	height: 11.666666%;
	text--webkit-transform: capitalize;
	text-transform: capitalize;
}

#ageArea {
	position: absolute;
	z-index: 5555;
    top: 70.16666666%;
	left: 28.90625%;
	width: 62.5%;
	height: 6.66666%;
	text--webkit-transform: capitalize;
}

#gradeArea {
	position: absolute;
	z-index: 5555;
    top: 76.83333%;
	left: 28.90625%;
	width: 62.5%;
	height: 6.66666%;
	text--webkit-transform: capitalize;
}

#next {
	position: absolute;
	z-index: 7777;
    top: 4%;
	left: 92.87109375%;
	width: 5.859375%;
	height: 48.33333%;
}